<h1>Course Notebook</h1>

<% @files.each do |file| %>
  <h3><a href="/courses/<%= file %>"><ul><%= file %></ul></a></h3>
<% end %>
<h3 class="extra-padding"><a class="fake-button" href="/new">new</a><h3>
