<form method="post" action="/create">
  <h2><label for="filename">New notebook</label></h2>
  <div>
    <input class="mono-text" name="filename" id="filename" placeholder="Title"/>
  </div>
  <br>
  <div>
    <textarea class="mono-text" name="content" id="content" placeholder="Paste your text here..."
      rows="18" cols="80"></textarea>
  </div>
  <div>
    <button type="submit">create</button>
  </div>
</form>
