body {
  padding: 1em;
  font-family: monospace;
  color: #4d4d4d;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 15px;
}

input {
  font-size: 22px;
  padding: 5px;
}

button {
  font-size: 25px;
  color: #737373;
  font-family: monospace;
  border-style: none;
  background-color: #FFFF99;
  margin: 10px;
  padding: 8px;
  color: #4d4d4d;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

.fake-button {
  background-color: #FFFF99;
  margin: 10px;
  padding: 8px;
  color: #4d4d4d;
}

.extra-padding {
  padding-top: 25px;
}

.mono-text {
  font-family: monospace;
}
